*,
html,
#editor {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}
html,
body,
#editor {
  height: 100%;
}
#editor textarea,
#editor > div {
  box-sizing: border-box;
  width: 49%;
  height: 100%;
  padding: 5px 20px;
  display: inline-block;
  vertical-align: top;
}
#editor textarea {
  padding: 20px;
  font-family: 'Monaco', courier, monospace;
  font-size: 20px;
  background-color: #f6f6f6;
  border: none;
  border-right: 1px solid #cccccc;
  resize: none;
  outline: none;
}
